language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
# command to install dependencies
install:
  - pip install coveralls
  - pip install -r requirements.txt
# command to run tests
script:
  coverage run --source . tests.py
after_success:
  coveralls